<div class="container">
    <h1 class="text-center my-2">Multer upload</h1>
    <div class="row justify-content-center my-5">

        <form class="col-6" action="/upload" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label for="name">Company name</label>
                <input name="name" class="form-control" type="text" />
            </div>

            <div class="form-group">
                <label for="logo" style="display: block;">Company logo</label>
                <input name="logo" type="file" />
            </div>

            <button class="btn btn-primary" type="submit">Upload photo</button>

        </form>
        <div class="row my-5 mx-3 justify-content-center">
            {{#each docs}}
            <div class="card col-lg-3 col-md-4 col-sm-12 my-2 mx-2">
                <img class="card-img-top my-2 " src="http://localhost:4000/{{this.logo}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{{ this.name }}}</h5>

                </div>
            </div>
            {{/each}}
        </div>


    </div>
</div>